.TinyMDE {
  background-color:#fff;
  color:#000;
  font-size:16px;
  line-height:24px;
  outline: none;
  padding:5px;
}

.TMBlankLine {
  height:24px;
}

.TMH1, .TMSetextH1 {
  font-size:22px;
  line-height:32px;
  font-weight:bold;
  margin-bottom:8px;
}

.TMSetextH1 {
  margin-bottom:0px;
}

.TMSetextH1Marker {
  margin-bottom:8px;
}

.TMH2, .TMSetextH2 {
  font-size:20px;
  line-height:28px;
  font-weight:bold;
  margin-bottom:4px;
}

.TMMark_TMCode {
  font-family:monospace;
  font-size:.9em;  
}

.TMFencedCodeBacktick, .TMFencedCodeTilde, .TMIndentedCode, .TMCode {
  font-family:monospace;
  font-size:.9em;
  background-color:#e0e0e0;
}

.TMCodeFenceBacktickOpen, .TMCodeFenceTildeOpen {
  border-bottom: 1px solid #c0c0c0;
  font-family: monospace;
  font-size:.9em;
}

.TMCodeFenceBacktickClose, .TMCodeFenceTildeClose {
  border-top: 1px solid #c0c0c0;
  font-family: monospace;
  font-size:.9em;
}

.TMCode {
  border:1px solid #c0c0c0;
  border-radius: 2px;
}

.TMBlockquote {
  font-style: italic;
  border-left:2px solid #c0c0c0;
  padding-left:10px;
  margin-left:10px;
}

.TMMark {
  color:#a0a0a0;
}

.TMMark_TMH1, .TMMark_TMH2 {
  color:#ff8080;
}

.TMMark_TMUL, .TMMark_TMOL {
  color:#ff8080;
}

.TMImage {
  text-decoration: underline;
  text-decoration-color: #00ff00;
}


.TMLink {
  text-decoration: underline;
  text-decoration-color: #0000ff;
}

.TMLinkLabel {
  text-decoration: underline;
  font-family: monospace;
}

.TMLinkLabel_Definition, .TMLinkLabel_Valid {
  color: #40c040;
}

.TMLinkLabel_Invalid {
  color: #ff0000;
}

.TMLinkTitle {
  font-style:italic;
}

.TMLinkDestination, .TMAutolink {
  text-decoration: underline;
  color: #0000ff;
}

.TMHR { 
  position: relative;
}

.TMHR:before { 
  content: '';
  position: absolute;
  bottom: 50%;
  left: 40%;
  border-bottom: 2px solid #808080;
  width: 20%;
  z-index:0;
}