.TinyMDE {
  background-color:#fff;
  color:#000;
  font-size:16px;
  line-height:24px;
  outline: none;
  padding:5px;
}

.TMBlankLine {
  height:24px;
}

.TMH1, .TMSetextH1 {
  font-size:22px;
  line-height:32px;
  font-weight:bold;
  margin-bottom:8px;
}

.TMSetextH1 {
  margin-bottom:0px;
}

.TMSetextH1Marker {
  margin-bottom:8px;
}

.TMH2, .TMSetextH2 {
  font-size:20px;
  line-height:28px;
  font-weight:bold;
  margin-bottom:4px;
}

.TMMark_TMCode {
  font-family:monospace;
  font-size:.9em;  
}

.TMFencedCodeBacktick, .TMFencedCodeTilde, .TMIndentedCode, .TMCode {
  font-family:monospace;
  font-size:.9em;
  background-color:#e0e0e0;
}

.TMCodeFenceBacktickOpen, .TMCodeFenceTildeOpen {
  border-bottom: 1px solid #c0c0c0;
  font-family: monospace;
  font-size:.9em;
}

.TMCodeFenceBacktickClose, .TMCodeFenceTildeClose {
  border-top: 1px solid #c0c0c0;
  font-family: monospace;
  font-size:.9em;
}

.TMInfoString {
  color: #0000ff;
}

.TMCode {
  border:1px solid #c0c0c0;
  border-radius: 2px;
}

.TMBlockquote {
  font-style: italic;
  border-left:2px solid #c0c0c0;
  padding-left:10px;
  margin-left:10px;
}

.TMMark {
  color:#a0a0a0;
}

.TMMark_TMH1, .TMMark_TMH2 {
  color:#ff8080;
}

.TMMark_TMUL, .TMMark_TMOL {
  color:#ff8080;
}

.TMImage {
  text-decoration: underline;
  text-decoration-color: #00ff00;
}


.TMLink {
  text-decoration: underline;
  text-decoration-color: #0000ff;
}

.TMLinkLabel {
  text-decoration: underline;
  font-family: monospace;
}

.TMLinkLabel_Definition, .TMLinkLabel_Valid {
  color: #40c040;
}

.TMLinkLabel_Invalid {
  color: #ff0000;
}

.TMLinkTitle {
  font-style:italic;
}

.TMLinkDestination, .TMAutolink {
  text-decoration: underline;
  color: #0000ff;
}

.TMHR { 
  position: relative;
}

.TMHR:before { 
  content: '';
  position: absolute;
  bottom: 50%;
  left: 40%;
  border-bottom: 2px solid #808080;
  width: 20%;
  z-index:0;
}

.TMHTML, .TMHTMLBlock {
  font-family:monospace;
  font-size:.9em;
  color:#8000ff;
}

.TMHTMLBlock {
  color:#6000c0;
}

/* TODO extract this into its own file */
.TMCommandBar {
  background-color:#f8f8f8;
  height:32px;
  display:flex;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.TMCommandButton {
  box-sizing: border-box;
  height:24px;
  width:24px;
  padding:3px;
  margin-left:4px;
  margin-top:4px;
  margin-bottom:4px;
  color:#404040;
  fill:#404040;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

.TMCommandDivider {
  height:32px;
  margin-left:8px;
  margin-right: 4px;
  width:0px;
  border-left:1px solid #c0c0c0;
  border-right:1px solid #ffffff;
}

.TMCommandButton_Active {
  /* border:1px inset #c0c0c0; */
  font-weight:bold;
  color:#000080;
  background-color: #c0c0ff;
  fill:#000080;
}

.TMCommandButton_Inactive {
  /* border:1px outset #c0c0c0; */
  background-color:#f8f8f8;
}

.TMCommandButton_Disabled {
  /* border:1px solid #c0c0c0; */
  color:#808080;
  fill:#808080;
}

.TMCommandButton_Active:hover, .TMCommandButton_Disabled:hover, .TMCommandButton_Inactive:hover {
  background-color:#e0e0ff;
  fill:#000000;
}