name: PR Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install
        run: npm ci

      - name: Install playwright browsers
        run: npx playwright install --with-deps

      - name: Build
        run: npm run build --if-present

      - name: Test
        run: npm test --if-present
